<div align="center"> 
  <h1> Comment jouer au BlackJack</h1>
  <h5>L'objectif est de battre le croupier et obtenir le plus proche de 21 mais pas buste avec un 22 ou plus.</h5>

  <div class="trim">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/-YMGilNq1iI" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
