<p>
  <div align="center"> 
    <h3> Merci pour jouer au BlackJack Casino! </h3>

    <div class="trim">
      <img src='/images/bjcasino.png' >
      <div id="spacer">
        <FORM id="facebook" METHOD="LINK" ACTION="https://fr-fr.facebook.com/">
          <INPUT TYPE="submit" VALUE="Ami-nous sur Facebook!">
        </FORM>
        <FORM id="twitter" METHOD="LINK" ACTION="https://twitter.com/?lang=fr">
          <INPUT TYPE="submit" VALUE="Suivez-nous sur Twitter!">
        </FORM>
      </div>
    </div>

  </div>
</p>
