<h1>Bienvenue a BlackJack Casino!</h1>

<div class="well">
  <h4>Saisissez vos coordonnées ci-dessous .</h4>
    
  <form action='/set_name' method="post">
    Nom: <input type="text" name="player_name" /><br />
    Total de l'encaisse(Euro): <input type="text" name="bankroll" /><br />
    Quantite de pari(Euro): <input type="text" name="bet" /><br />
    <input type="submit" class="btn btn-custom" value="Envoyer" /><br />
  </form>
</div>
